{% import "/_macros" as macros %}

{% if hero is defined and hero is instance of('craft\\elements\\db\\MatrixBlockQuery') %}
    {% if hero.count > 0 %}
        {% set hero = hero.one %}
    {% else %}
        {% set hero = false %}
    {% endif %}
{% endif %}

{% if hero is defined and hero %}
    {# set falsy defaults to simplify null checks #}
    {% set hero = {
        backgroundImage: null,
        eyebrow: null,
        headline: null,
        subheadline: null,
        introduction: null,
        CTA: null
    }|merge(hero) %}

    <section class="section {{ hero.backgroundImage|length ? '-dark' : '' }} -hero">
        {% if hero.backgroundImage|length %}
            <div class="section__background">
                {{ macros.responsiveImage(hero.backgroundImage, { pictureClass: 'section__backgroundImg' }) }}
            </div>
        {% endif %}
        <div class="section__container container">
            <header class="section__header">
                {% if hero.eyebrow %}
                    <div class="heading__eyebrow eyebrow">{{ hero.eyebrow }}</div>
                {% endif %}
                {% if hero.headline %}
                    <h1 class="section__heading">{{ hero.headline }}</h1>
                {% endif %}
                {% if hero.subheadline %}
                    <h2 class="section__subheading">{{ hero.subheadline }}</h2>
                {% endif %}
            </header>
            {% if hero.introduction %}
                <div class="section__introduction -emphasized">
                    {{ hero.introduction }}
                </div>
            {% endif %}
            {% if hero.CTA %}
                <div class="section__actions">
                    {{ hero.CTA.getLink({ class: 'section__action button -primary' }) }}
                </div>
            {% endif %}
        </div>
    </section>

{% else %}
    <section class="section -dark -hero">
        <div class="section__container container">
            <header class="section__header">
                <h1 class="section__heading">{{ entry.title }}</h1>
            </header>
        </div>
    </section>
{% endif %}
