<bp-mobile-navigation title="Example Menu">
    <ul class="mobileNav__list">
        {% for navItem in primaryNavigation.navigationLinks.level(1).all %}
            <li class="mobileNav__item">
                {% if navItem.children|length %}
                    {% if navItem.type == 'navigationLink' %}
                        <a href="{{ navItem.navigationLink.url }}" id="primaryNav-{{ navItem.navigationLink.text|kebab }}">{{ navItem.navigationLink.text }}</a>
                    {% elseif navItem.type == 'navigationGroup' %}
                        <a href="" id="primaryNav-{{ navItem.navigationHeading|kebab }}">{{ navItem.navigationHeading }}</a>
                    {% endif %}
                    {% if navItem.getDescendants(2)|length > navItem.children|length %}
                        <ul>
                            {% for subNavItem in navItem.children %}
                                <li>
                                    {% if subNavItem.type == 'navigationLink' %}
                                        {{ subNavItem.navigationLink.getLink() }} 
                                    {% elseif subNavItem.type == 'navigationGroup' %}
                                        {{ subNavItem.navigationHeading }}
                                    {% endif %}
                                    {% if subNavItem.children|length %}
                                        <ul>
                                            {% for subSubNavItem in subNavItem.children %}
                                                <li>
                                                    {{ subSubNavItem.navigationLink.getLink() }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% elseif navItem.children|length %}
                        <ul>
                            {% for subNavItem in navItem.children.all %}
                                <li>
                                    {{ subNavItem.navigationLink.getLink() }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    {{ navItem.navigationLink.getLink() }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</bp-mobile-navigation>