<bp-mobile-navigation title="Example Menu">
    <ul class="mobileNav__list">
        {% for navItem in primaryNavigation.navigationLinks.level(1) %}
            <li class="mobileNav__item">
                {% if navItem.children|length %}
                    {% if navItem.type == 'navigationLink' %}
                        <a href="{{ navItem.navigationLink.url }}" id="primaryNav-{{ navItem.navigationLink.text|kebab }}">{{ navItem.navigationLink.text }}</a>
                    {% elseif navItem.type == 'navigationGroup' %}
                        <a href="" id="primaryNav-{{ navItem.navigationLink.text|kebab }}">{{ navItem.navigationLink.text }}</a>
                    {% endif %}
                    <ul>
                        {% for subNavItem in navItem.children %}
                            <li>
                                {{ subNavItem.navigationLink.getLink() }}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ navItem.navigationLink.getLink() }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</bp-mobile-navigation>
