<nav class="primaryNav">
    <ul class="primaryNav__list">
        {% for navItem in primaryNavigation.navigationLinks.level(1).all %}
            <li class="primaryNav__item">
                {% if navItem.children.count %}
                    {% if navItem.type == 'navigationLink' %}
                        <bp-dropdown-link label-class="primaryNav__link" href="{{ navItem.navigationLink.url }}" label="{{ navItem.navigationLink.text }}" id="primaryNav-{{ navItem.navigationLink.text|kebab }}">
                    {% elseif navItem.type == 'navigationGroup' %}
                        <bp-dropdown label-class="primaryNav__link" label="{{ navItem.navigationHeading }}" id="primaryNav-{{ navItem.navigationHeading|kebab }}">
                    {% endif %}

                        {% if navItem.getDescendants(2).count > navItem.children.count %}
                            <div class="container linkGroups">
                                {% for subNavItem in navItem.children %}
                                    <div class="linkGroups__group">
                                        {% if subNavItem.type == 'navigationLink' %}
                                            {{ subNavItem.navigationLink.getLink({ class: 'linkGroups__heading' }) }}
                                        {% elseif subNavItem.type == 'navigationGroup' %}
                                            <div class="linkGroups__heading">{{ subNavItem.navigationHeading }}</div>
                                        {% endif %}
                                        <ul class="linkGroups__list {{ subNavItem.navigationColumnSpan }}">
                                            {% for subSubNavItem in subNavItem.children %}
                                                <li class="linkGroups__item">
                                                    {{ subSubNavItem.navigationLink.getLink({ class: 'linkGroups__link' }) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        {% elseif navItem.children.count %}
                            <div class="container linkGroups">
                                <div class="linkGroups__group">
                                    <ul class="linkGroups__list {{ navItem.navigationColumnSpan }}">
                                        {% for subNavItem in navItem.children.all %}
                                            <li class="linkGroups__item">
                                                {% if subNavItem.type == 'navigationLink' %}
                                                    {{ subNavItem.navigationLink.getLink({ class: 'linkGroups__link' }) }}
                                                {% elseif subNavItem.type == 'navigationGroup' %}
                                                    {{ subNavItem.navigationHeading }}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% if navItem.type == 'navigationLink' %}
                        </bp-dropdown-link>
                    {% elseif navItem.type == 'navigationGroup' %}
                        </bp-dropdown>
                    {% endif %}
                {% else %}
                    {{ navItem.navigationLink.getLink({ class: 'primaryNav__link' }) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
