{% import "/_macros" as macros %}

{% set numColumnsClass = macros.numberToWord(block.children|length) ~ "Column" %}
{% set columnSlugsClass = macros.columnsSlug(block) ~ "Layer" %}

<div class="layer -{{ block.type }} -{{ numColumnsClass }} {{ columnSlugsClass }}">
    <div class="layer__container container">
        {% block header %}
            {% if block.sectionEyebrow or block.sectionHeading or block.sectionSubheading %}
                <header class="layer__header">
                    {% if block.sectionEyebrow %}
                        <div class="eyebrow -primary">{{ block.sectionEyebrow }}</div>
                    {% endif %}
                    {% if block.sectionHeading %}
                        <h2 class="layer__heading">{{ block.sectionHeading }}</h2>
                    {% endif %}
                    {% if block.sectionSubheading %}
                        <h3 class="layer__subheading">{{ block.sectionSubheading }}</h3>
                    {% endif %}
                </header>
            {% endif %}
        {% endblock %}

        {% block introduction %}
            {% if block.sectionIntroduction %}
                <div class="layer__introduction">
                    {{ block.sectionIntroduction }}
                </div>
            {% endif %}
        {% endblock %}

        {% block content %}
            <div class="layer__content">
                {% for subblock in block.children.all() %}
                    <div class="layer__item -{{ subblock.type|replace('/Column$/', '') }}">
                        {{ macros.renderColumn(subblock) }}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block conclusion %}
            {% if block.sectionConclusion|length or block.sectionCTA %}
                <div class="layer__footer">
                    {% if block.sectionConclusion %}
                        <div class="layer__conclusion">
                            {{ block.sectionConclusion }}
                        </div>
                    {% endif %}
                    {% if block.sectionCTA %}
                        <div class="layer__actions">
                            {{ block.sectionCTA.getLink({ class: "layer__action button -primary" }) }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>
