{% import "/_macros" as macros %}

{% set columnClass = macros.numberToWord(block.children|length) ~ "Column" %}

<div class="layer -{{ block.type }} -{{ columnClass }}">
    <div class="layer__container container">
        <div class="layer__title">
            <div class="eyebrow -primary">{{ block.sectionKicker }}</div>
            <h2 class="layer__heading">{{ block.sectionHeading }}</h2>
            <h3 class="layer__subtitle">{{ block.sectionSubheading }}</h3>
        </div>
        <div class="layer__introduction -emphasized">
            {{ block.sectionIntroduction }}
        </div>

        <div class="layer__conclusion">
            {{ block.sectionConclusion }}
        </div>
        <div class="layer__action">
            {{ block.sectionCTA.getLink({ class: "layer__cta button -primary" }) }}
        </div>
    </div>
</div>
