{% import "/_macros" as macros %}

{% set columnClass = macros.numberToWord(block.children|length) ~ "Column" %}

<div class="layer -{{ block.type }} -{{ columnClass }}">
    <div class="layer__container container">
        <div class="layer__heading">
            <div class="eyebrow -primary">{{ block.sectionKicker }}</div>
            <h2 class="layer__heading">{{ block.sectionHeading }}</h2>
            <h3 class="layer__subheading">{{ block.sectionSubheading }}</h3>
        </div>

        <figure class="testimonial">
            <blockquote class="testimonial__quote">
                {{ block.sectionQuote }}
            </blockquote>
            <figcaption class="testimonial__caption">
                <div class="avatar -horizontal testimonial__attribution">
                    <div class="avatar__info">
                        <h2 class="avatar__name">{{ block.sectionPerson }}</h2>
                        <div class="avatar__title">{{ block.sectionJobTitle }}</div>
                    </div>
                </div>
            </figcaption>
        </figure>

        <div class="layer__conclusion">
            {{ block.sectionConclusion }}
        </div>
        <div class="layer__actions">
            {{ block.sectionCTA.getLink({ class: "layer__action button -primary" }) }}
        </div>
    </div>
</div>
