<!doctype html>
{% spaceless %}
    {% if bodyClasses is not defined %}
        {% set bodyClasses = [] %}
    {% endif %}

    {% if section is defined %}
        {% set bodyClasses = bodyClasses|merge([section|kebab]) %}
    {% else %}
        {% set section = '' %}
    {% endif %}
{% endspaceless %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preload" as="style" href="{{ mix('/css/main.css') }}">

        <link rel="stylesheet" href="{{ mix('/css/main.css') }}">

        {% if entry is defined and entry.headerCode %}
            {{ entry.headerCode|raw }}
        {% endif %}
    </head>
    <body class="{{ bodyClasses|join(' ') }}" >

        <div id="root">
            <header class="siteHeader">
                <div class="siteHeader__content container">

                    <a class="siteHeader__brand" href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" class="siteHeader__logo" width="36" height="44" viewBox="3 1 18 22" stroke-width="1" stroke="currentColor" fill="none">
                            <path d="M6 17.6l-2 -1.1v-2.5" />
                            <path d="M4 10v-2.5l2 -1.1" />
                            <path d="M10 4.1l2 -1.1l2 1.1" />
                            <path d="M18 6.4l2 1.1v2.5" />
                            <path d="M20 14v2.5l-2 1.12" />
                            <path d="M14 19.9l-2 1.1l-2 -1.1" />
                            <line x1="12" y1="12" x2="14" y2="10.9" />
                            <line x1="18" y1="8.6" x2="20" y2="7.5" />
                            <line x1="12" y1="12" x2="12" y2="14.5" />
                            <line x1="12" y1="18.5" x2="12" y2="21" />
                            <path d="M12 12l-2 -1.12" />
                            <line x1="6" y1="8.6" x2="4" y2="7.5" />
                        </svg>
                        <div class="siteHeader__siteName">{{ siteName }}</div>
                    </a>

                    {% include "/_partials/navigation" %}

                    {% include "/_partials/mobileNavigation" %}

                </div>
            </header>


            <main role="main">
                {% block content %}{% endblock %}
            </main>

            {% include "/_partials/footer" %}

        </div>


        <script src="{{ mix('/js/manifest.js') }}"></script>
        <script src="{{ mix('/js/vendor.js') }}"></script>
        <script src="{{ mix('/js/main.js') }}"></script>

        {% if entry is defined and entry.footerCode %}
            {{ entry.footerCode|raw }}
        {% endif %}
    </body>
</html>
