<!doctype html>
{% spaceless %}
    {% if bodyClasses is not defined %}
        {% set bodyClasses = [] %}
    {% endif %}

    {% if section is defined %}
        {% set bodyClasses = bodyClasses|merge([section|kebab]) %}
    {% else %}
        {% set section = '' %}
    {% endif %}
{% endspaceless %}
<html class="bg-dark" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preload" as="style" href="{{ mix('/css/main.css') }}">

        {% if entry is defined and entry.headerCode %}
            {{ entry.headerCode|raw }}
        {% endif %}
    </head>
    <body class="{{ bodyClasses|join(' ') }}" >
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{{ siteName }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav mr-auto">
                        {% for item in primaryNavigation.primaryNavItems.all() %}
                            {% if item.topLevelItem.type == 'entry' and item.topLevelItem.element|length %}
                                {% set navItemSection = item.topLevelItem.element.section.handle %}
                            {% else %}
                                {% set navItemSection = null %}
                            {% endif %}

                            {% if item.dropdownLinks|length %}
                                {% set hasDropdown = true %}
                            {% else %}
                                {% set hasDropdown = false %}
                            {% endif %}

                            <li class="nav-item{{ hasDropdown ? ' dropdown ' : '' }}{{ navItemSection|length and section == navItemSection ? ' active' : '' }}">
                                <a class="nav-link{{ hasDropdown ? ' dropdown-toggle' : '' }}" href="{{ item.topLevelItem.url }}" {% if hasDropdown %}id="aboutdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                                    {{ item.topLevelItem.text }}
                                    {% if navItemSection|length and section == navItemSection %}
                                        <span class="sr-only">(current)</span>
                                    {% endif %}
                                </a>

                                {% if hasDropdown %}
                                    <div class="dropdown-menu" aria-labelledby="aboutdropdown">
                                        {% for link in item.dropdownLinks.all() %}
                                            {{ link.blockLink.link({class: 'dropdown-item'}) }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <main role="main" class="mt-5">
            {% block content %}{% endblock %}
        </main>

        <footer class="bg-dark text-white py-5 mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md">
                        {{ siteName }}
                        <small class="d-block mb-3 text-muted">© {{ "now"|date("Y") }}</small>
                    </div>

                    {% for item in footerNavigation.footerNavItems.all() %}
                        <div class="col-6 col-md">
                            <h5>{{ item.topLevelItem.link({class: 'text-white'}) }}</h5>

                            {% if item.columnLinks|length %}
                                <ul class="list-unstyled text-small">
                                    {% for link in item.columnLinks.all() %}
                                        <li>{{ link.blockLink.link({class: 'text-light'}) }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </footer>


        <script src="{{ mix('/js/manifest.js') }}"></script>
        <script src="{{ mix('/js/vendor.js') }}"></script>
        <script src="{{ mix('/js/main.js') }}"></script>

        {% if entry is defined and entry.footerCode %}
            {{ entry.footerCode|raw }}
        {% endif %}
    </body>
</html>
