{% import "/_macros" as macros %}
{% set section = 'resources' %}
{% extends "_layouts/main" %}
{% block content %}
    {% include '_partials/hero' with {
        headline: entry.title
    } %}

    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8">
                {{ entry.resourceDescription }}
            </div>
        </div>
    </div>

    {% if entry.designedContent %}
        {{ macros.renderAllBlocks(entry.designedContent) }}
    {% endif %}

    <div class="container my-5">
        <div class="row align-items-center">
            <div class="col-md-3 text-left">
                {% set index = craft.entries.section('resourcesPage').one %}
                <a class="btn btn-outline-secondary" href="{{ index.url }}">Return to {{ index.title }}</a>
            </div>
            <div class="col-md-6 text-center">
                {{ entry.resourceUrl.link({class: 'btn btn-primary btn-lg'}) }}
            </div>
        </div>
    </div>


{% endblock %}
