<!DOCTYPE html>
{% if entry is defined %}
    {% if title is not defined %}
        {% if entry.metaTitle %}
            {% set title = entry.metaTitle %}
        {% else %}
            {% set title = entry.title %}
        {% endif %}
        {% set metaDescription = entry.metaDescription %}
        {% set ogImage = entry.ogImage %}
        {% set metaTags = entry.metaTags %}
        {% set footerJS = entry.footerJS %}
    {% endif %}

    {% set metaDescription = entry.metaDescription %}

    {% if entry.ogImage.total() %}
        {% set ogImage = entry.ogImage.first().getUrl('ogImage') %}
    {% else %}
        {% set ogImage = false %}
    {% endif %}

    {% set metaTags = entry.metaTags %}
    {% set footerJS = entry.footerJS %}
{% endif %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% if title is defined %}{{ title }}{% endif %}</title>
        {% if metaDescription is defined and metaDescription != "" %}
            <meta name="description" content="{{ metaDescription }}" />
        {% endif %}
        {% if ogImage is defined and ogImage != "" %}
            <meta property="og:image" content="{{ ogImage }}" />
        {% endif %}
        <meta name="web_author" content="Imarc, A Digital Agency | Boston + Silicon Valley | more info at imarc.com" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ craft.sass.link("/css/styles.scss") }}" media="all" />
        {% if metaTags is defined %}
            {{ metaTags | raw }}
        {% endif %}
    </head>
    <body class="{{ body_class ?? "" }}" id="{{ body_id ?? "" }}">
        <header class="primary sticky">
            {% if craft.adminbar is defined %}
                {% set config = {
                    entry: entry,
                    sticky: false
                } %}
                {{ craft.adminbar.bar(config) }}
            {% endif %}
            <div class="container">
                <div class="header-content">
                    <div class="branding">
                        <a href="/">
                            Site Home
                        </a>
                    </div>
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <div class="mobile">
                        <nav aria-label="Primary Mobile Navigation" class="primary">
                            <ul>
                                <li>
                                    <a href="#">Maine</a>
                                    <div class="dropdown">
                                        <ul>
                                            <li><a href="#">Augusta</a></li>
                                            <li><a href="#">Eliot</a></li>
                                            <li><a href="#">Kittery</a></li>
                                            <li><a href="#">Portland</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="active">
                                    <a href="#yup">Markup</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="utilities">
                            <nav aria-label="Utility Navigation" class="utility">
                                <ul>
                                    <li><a href="">Careers</a></li>
                                    <li><a href="">Legal</a></li>
                                    <li><a href="">Log In</a></li>
                                </ul>
                            </nav>
                            <form class="search" method="post">
                                <div class="text">
                                    <label for="search">Search the website</label>
                                    <input id="search" placeholder="Search the website" type="text" />
                                </div>
                                <div class="submit">
                                    <input type="submit" value="Search" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="desktop">
                        <div class="utilities">
                            <nav aria-label="Utility Navigation" class="utility">
                                <ul>
                                    <li><a href="">Careers</a></li>
                                    <li><a href="">Legal</a></li>
                                    <li><a href="">Log In</a></li>
                                </ul>
                            </nav>
                        </div>
                        <nav aria-label="Primary Desktop Navigation" class="primary">
                            <ul>
                                <li class="mega">
                                    <a href="#">Maine <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <div class="dropdown">
                                        <div class="menu">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <a href="#">Products</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Services</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blog</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">About Us</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Contact</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <h3>Lorem Ipsum Dolar Amat</h3>
                                                <p>
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos quisquam numquam veniam eos reprehenderit, nemo sunt nihil rem suscipit.
                                                </p>
                                                <p>
                                                    Nemo sunt nihil rem lorem amat fuga consectetur adipisicing elit.
                                                </p>
                                            </div>
                                            <div>
                                                <img src="http://dummyimage.com/600x400/ff665b/ffffff.png&text=Just an image placeholder " alt="">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="#yup">Markup <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <div class="dropdown">
                                        <div class="menu">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <a href="">Hello World</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Lorem Ipsum Amat</a>
                                                    </li>
                                                    <li>
                                                        <a href="">HTML is on version 5</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="">New Hampshire</a>
                                </li>
                                <li>
                                    <a href="">Vermont</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="hero">
            {% block hero %} {% endblock %}
        </div>

        {% block content %}{% endblock %}

        <footer class="primary" role="contentinfo">
            <div class="container">
                <div class="copyright">© {{ now.year }} {{ siteName }}.</div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
        <script src="js/mobileNavigation.plugin.js" type="text/javascript"></script>
        <script src="js/dropdown.plugin.js"></script>
        <script src="js/stickyHeader.plugin.js"></script>
        <script>
            $(function () {
                $('header.primary').stickyHeader();
                $('nav.primary').dropdown();
            });
        </script>
        {% if footerJS is defined %}
            {{ footerJS | raw }}
        {% endif %}
    </body>
</html>
