{% import "_macros" as macros %}
{% extends "_layout" %}

{% block hero %}
    <div class="copy">
        <h1>Simple &amp; semantic frontend</h1>
        <a class="button" href="https://github.com/imarc/boilerplate">
            Boilerplate on Github
        </a> 
    </div>
{% endblock %}
    
{% block content %}
    <div class="main">
        <section>
            <div class="container">
                <h1>{{ entry.title }}</h1>
            </div>
        </section>
        <section>
            <div class="container">
                {% paginate craft.entries({section: 'news'}).limit(10) as newsEntries %}
                {% for entry in newsEntries %}
                    <article>
                        <h3>{{ entry.link }}</h3>
                        <div class="meta">
                            <span class="date">{{ entry.postDate.format('F d, Y') }}</span>
                        </div>
                        {{ entry.body }}
                    </article>
                {% endfor %}

                {{ macros.pagination(paginate, 2) }}
            </div>
        </section>
    </div>
{% endblock %}